<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<form name="addressForm">
    <p class="bodyTitle bg-info">Endereço Residencial</p>
    <div class="row">
        <div class="form-group col-md-2 col-sm-2">
            <label for="inputHomeCep">CEP</label>
            <input id="inputHomeCep" name="inputHomeCep" type="text" class="form-control" maxlength="9" uiMaskPlaceholder ui-mask="99999-999" ng-change="searchCep(0)" ng-model-options="{debounce: 1000}" ng-model="client.addresses[0].cep" required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-1 col-sm-1">
            <label for="inputHomeState">UF</label>
            <select id="inputHomeState" class="form-control" ng-change="listCities(client.addresses[0].state)" ng-model="client.addresses[0].state">
                <option value="">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputHomeCity">Cidade</label>
            <select id="inputHomeCity" class="form-control" ng-options="city.name for city in cities" ng-model="client.addresses[0].city">
            </select>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputHomeNeighbourhood">Bairro</label>
            <input id="inputHomeNeighbourhood" name="inputHomeNeighbourhood" type="text" class="form-control" ng-model="client.addresses[0].neighbourhood"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 col-sm-4">
            <label for="inputHomeStreetName">Logradouro</label>
            <input id="inputHomeStreetName" name="inputHomeStreetName" type="text" class="form-control" ng-model="client.addresses[0].streetName"/>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputHomeComplement">Complemento</label>
            <input id="inputHomeComplement" name="inputHomeComplement" type="text" class="form-control" ng-model="client.addresses[0].complement"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 col-sm-3">
            <label for="inputHasOwnHouse">Possui casa própria?</label>
            <div name="inputHasOwnHouse" class="radio" ng-model="client.addresses[0].hasOwnHouse">
                <label><input name="opcao" type="radio"/>Sim</label>
                <label><input name="opcao" type="radio"/>Nao</label>
            </div>
        </div>  
        <div class="form-group col-md-3 col-sm-4">
            <label for="inputValueOfTheHouse">Valor do Imóvel</label>
            <div class="input-group">
                <span id="inputValueOfTheHouse" class="input-group-addon">R$</span>
                <input id="inputValueOfTheHouse" name="inputValueOfTheHouse" type="text" class="form-control" ng-model="client.addresses[0].valueOfTheHouse"/>
            </div>
        </div>
        <div class="form-group col-md-3 col-sm-4">
            <label for="inputHomeTimeLiving">Tempo Residência</label>
            <div class="input-group">
                <input id="inputTimeLiving" name="inputTimeLiving" type="text" class="form-control" ng-model="client.addresses[0].timeLiving"/>
                <span id="inputTimeLiving" class="input-group-addon">anos</span>
            </div>
        </div>
    </div>
</form>