<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<form name="formEnd">
    <div class="row">
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputCep">CEP</label>
            <input id="inputCep" name="inputCep" class="form-control" type="text" maxlength="9" ng-model="address[0].cep" placeholder="______-__" mask="99999-999" clean="true" required limit/>
        </div>
        <div class="form-group col-md-1 col-sm-1">
            <button type="button" class="btn btn-success" style="margin-top: 30px" ng-click="searchCep(address[0].cep)">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputState">Estado</label>
            <input id="inputState" name="inputState" class="form-control" type="text"/>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputCity">Cidade</label>
            <input id="inputCity" name="inputCity" class="form-control" type="text"/>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputNeighbourhood">Bairro</label>
            <input id="inputNeighbourhood" name="inputNeighbourhood" class="form-control" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-sm-6">
            <label for="inputRua">Logradouro</label>
            <input id="inputRua" name="inputRua" class="form-control" type="text" />
        </div>
        <div class="form-group col-md-1 col-sm-2">
            <label for="inputNumero">Número</label>
            <input id="inputNumero" name="inputNumero" class="form-control" type="text" maxlength="5"/>
        </div>
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputNaturalidade">Naturalidade</label>
            <input id="inputNaturalidade" name="inputNaturalidade" class="form-control" type="text" />
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="form-group col-md-2 col-sm-4">
            <label for="divCasa">Possui casa própria?</label>
            <div name="divCasa" class="radio">
                <label><input type="radio" name="opcao"/>Sim</label>
                <label><input type="radio" name="opcao"/>Nao</label>
            </div>
        </div>  
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputImovel">Valor do Imóvel</label>
            <input id="inputImovel" name="inputImovel" class="form-control" type="text" />
        </div>  
        <div class="form-group col-md-2 col-sm-4">
            <label for="inputResidencia">Tempo de Residência</label>
            <input id="inputResidencia" name="inputResidencia" class="form-control" type="text" />
        </div>
    </div>
</form>