<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<form name="contactForm">
    <div class="row">
        <div class="form-group col-md-3 col-sm-5">
            <label for="inputEmail">Email</label>
            <input id="inputEmail" name="inputEmail" type="text" class="form-control" placeholder="email@email.com" ng-model="client.email"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3 col-sm-=5">
            <label for="inputHomePhoneNumber">Telefone Residencial</label>
            <input id="inputHomePhoneNumber" name="inputHomePhoneNumber" type="text" class="form-control" uiMaskPlaceholder ui-mask="(99) 99999-9999" ng-model="client.contacts[0].phoneNumber"/>
        </div>
        <div class="form-group col-md-3 col-sm-=5">
            <label for="inputCellPhoneNumber">Telefone Celular</label>
            <input id="inputCellPhoneNumber" name="inputCellPhoneNumber" type="text" class="form-control" uiMaskPlaceholder ui-mask="(99) 99999-9999" ng-model="client.contacts[1].phoneNumber"/>
        </div>
        <div class="form-group col-md-3 col-sm-=5">
            <label for="inputBusinessPhoneNumber">Telefone Comercial</label>
            <input id="inputBusinessPhoneNumber" name="inputBusinessPhoneNumber" type="text" class="form-control" uiMaskPlaceholder ui-mask="(99) 99999-9999" ng-model="client.contacts[2].phoneNumber"/>
        </div>
    </div>
</form>