<html>
<body>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <div class="title bg-primary col-md-12 col-sm-12">Cadastro de Cliente</div>
    <div class="container col-md-12 col-sm-12">
        <div>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="tablist" class="registerListTabs col-md-2 col-sm-2 active"><a href="" data-target="#information" data-toggle="tab">Informações Gerais</a></li>
                <li role="tablist" class="registerListTabs col-md-1 col-sm-1"><a href="" data-target="#address" data-toggle="tab">Endereço</a></li>
                <li role="tablist" class="registerListTabs col-md-1 col-sm-1"><a href="" data-target="#contact" data-toggle="tab">Contato</a></li>
                <li role="tablist" class="registerListTabs col-md-1 col-sm-1"><a href="" data-target="#work" data-toggle="tab">Trabalho</a></li>
                <li role="tablist" class="registerListTabs col-md-1 col-sm-1"><a href="" data-target="#reference" data-toggle="tab">Referência</a></li>
                <li role="tablist" class="registerListTabs col-md-1 col-sm-1"><a href="" data-target="#bank" data-toggle="tab">Banco</a></li>
            </ul>
        </div>
        <div class="tab-content panel panel-primary col-md-12 col-sm-12">
            <div class="navigationButtons btn-group col-md-12 col-sm-12">
                <a class="btn btn-primary" ng-click="previousTab()">Anterior</a>
                <a class="btn btn-primary" ng-click="nextTab()">Próximo</a>
                <button type="button" class="btn btn-success" ng-click="register()">Cadastrar</button>
            </div>
            <div id="information" role="tabpanel" class="registerForm panel-body col-md-12 col-sm-12 tab-pane fade in active">
                <section ng-include="'./register/client/generalInformations.html'"></section>
            </div>
            <div id="address" role="tabpanel" class="registerForm panel-body col-md-12 col-sm-12 tab-pane fade">
                <section ng-include="'./register/client/address.html'"></section>
            </div>
            <div id="contact" role="tabpanel" class="registerForm panel-body col-md-12 col-sm-12 tab-pane fade">
                 <section ng-include="'./register/client/contact.html'"></section>
            </div>
            <div id="work" role="tabpanel" class="registerForm panel-body col-md-12 col-sm-12 tab-pane fade">
                <section ng-include="'./register/client/work.html'"></section>
            </div>
            <div id="reference" role="tabpanel" class="registerForm panel-body col-md-12 col-sm-12 tab-pane fade">
                <section ng-include="'./register/client/reference.html'"></section>
            </div>
            <div id="bank" role="tabpanel" class="registerForm panel-body col-md-12 col-sm-12 tab-pane fade">
                <section ng-include="'./register/client/bank.html'"></section>
            </div>
        </div>
    </div>
</body>
</html>