body {
    background: linear-gradient(#e5f0ef, #d9e3e2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.registerForm {
    margin: 0 auto;
    font-size: 18px;
    padding: 20px 15px;
}

.registerButton {
    width: 100px;
    margin: 0 auto 10px;
}

.title {
    font-size: 20px;
    margin: 60px auto;
    margin-bottom: 10px;
    padding: 15px 0 15px 15px;
    text-align: center;
    border-radius: 3px;
}

.bodyTitle {
    font-size: 20px;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 15px 0 15px 15px;
    text-align: center;
    border-radius: 3px;
}

.tabsHeader {
    padding: 0 15px;
    width: 50%;
}

.registerListTabs {
    text-align: center;
    padding: 0px;
}

.addItemButton {
    margin-left: 15px;
}

.removeItemButton {
	margin-top: 30px;
}

.sideButton {
    margin-top: 30px;
}