<html>
<body>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <div class="title bg-primary col-md-12 col-sm-12">Pesquisa de CEP</div>
    <form name="searchCepForm" class="registerForm formPadding">
        <div class="panel panel-primary col-md-12 col-sm-12">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-1 col-sm-1">
                        <label for="inputState">UF</label>
                        <input id="inputState" name="inputState" type="text" class="form-control" ng-model="state"/>
                    </div>
                    <div class="form-group col-md-2 col-sm-4">
                        <label for="inputCity">Cidade</label>
                        <input id="inputCity" name="inputCity" type="text" class="form-control" ng-model="city"/>
                    </div>
                    <div class="form-group col-md-3 col-sm-4">
                        <label for="inputStreetName">Logradouro</label>
                        <input id="inputStreetName" name="inputStreetName" type="text" class="form-control" ng-model="streetName"/>
                    </div>
                    <button type="button" class="btn btn-success sideButton" ng-click="searchCep()">Pesquisar</button>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 col-sm-6">
                        <label for="inputNeighbourhood">Logradouro/Bairro</label>
                        <select id="inputNeighbourhood" class="form-control" ng-options="obj.logradouro + ' / ' + obj.bairro for obj in listCep | orderBy:obj.bairro" ng-model="selectedNeighbourhood" ng-disabled="notSearched" ng-change="setCep()">

                        </select>
                    </div>
                    <div class="form-group col-md-2 col-sm-2">
                        <label for="inputCep">CEP</label>
                        <input id="inputCep" name="inputCep" type="text" class="form-control" maxlength="9" placeholder="______-__" mask="99999-999" clean="true" ng-model="cep" limit disabled/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>